
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="icon" type="image/webp" href="/images/logo2.webp">
    <link href= "/css/home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<header>   
        <section class="header__section">
            <div class="header__logo-barra">
                <img src="/images/logo-mercado-liebre.svg" alt="logooooo" class="logo">
                
                <input class="barraBusqueda"
                    type="text" 
                    name="barraBusqueda"
                    placeholder="Buscar Productos, marcas " >       
            </div>   
            
            <p class="header__titulo"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        </section>  
           

            <nav class="navbar">
                 <ul class="navbar__menu">
                    <li class="navbar__item"> <a href="#">Ofertas</a> </li>
                    <li class="navbar__item"> <a href="#">Tiendas Oficiales</a> </li>
                    <li class="navbar__item"> <a href="#">Vender</a> </li>
                    <li class="navbar__item"> <a href="#">Ayuda</a> </li>
                 </ul>

                <ul class="navbar__menu">
                    <li class="navbar__item"> <a href="/views/register.html">Creá tu cuenta</a>  <i class="fa-solid fa-circle-user"></i> </li> 
                    <li class="navbar__item"> <a href="/views/login.html">Ingresá</a> <i class="fa-solid fa-address-card"></i> </li>
                    <li class="navbar__item"> <a href="#">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i> </li>
                </ul>
            </nav>

            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>

    </header>
        

    <main> 

        <img src="/images/img-home-banner.jpg" alt="banner" class="banner">

        <h2> Basado en última visita</h2>

        <section class="main__section"> 

            <article class="article">
                <img src="/images/img-cafetera-moulinex.jpg" class="article__img" >
                <div class="article__info">
                     <i class="article__logo fa-solid fa-truck"></i>           
                     <p class="article__precios"> $6.770</p>
                     <p class="article__descuento"> 40% off</p>
                     <p class="article__producto"> Cafetera Moulinex </p> 
                </div>
            </article>
           

            <article class="article">
                <img src="/images/img-macbook-pro-2019.jpg" class="article__img">
                <div class="article__info">      
                    <i class="article__logo fa-solid fa-truck"></i>   
                    <p class="article__precios">$230.000</p> 
                    <p class="article__descuento"> 20% off</p>  
                    <p class="article__producto"> MackBook Pro 2019 </p>  
                </div>   
            </article>
            

            <article class="article">
                <img src="/images/img-samsung-galaxy-s10.jpg" class="article__img">
                <div class="article__info">
                    <i class="article__logo fa-solid fa-truck"></i>               
                    <p class="article__precios"> $75.500</p>
                    <p class="article__descuento"> 10% off</p>
                    <p class="article__producto"> Samsung Galaxy S10</p>  
                </div>
            </article>

            
            <article class="article">
                <img src="/images/img-tv-samsung-smart.jpg" class="article__img">
                <div class="article__info">
                    <i class="article__logo fa-solid fa-truck"></i>
                    <p class="article__precios"> $23.200</p>
                    <p class="article__descuento"> 5% off</p>
                    <p class="article__producto"> SmartTv Samsung 43 </p>
                </div>
            </article>

         </section>
         

         <h2> Sección de Ofertas</h2>

         <section class="main__section"> 

             <article class="article">
                <img src="/images/img-cafetera-moulinex.jpg" class="article__img">
                <div class="article__info">
                     <i class="article__logo fa-solid fa-truck"></i>                     
                     <p class="article__precios"> $6.770</p>
                     <p class="article__descuento"> 40% off</p>
                     <p class="article__producto"> Cafetera Moulinex </p> 
                </div>
            </article>


            <article class="article">
                <img src="/images/img-macbook-pro-2019.jpg" class="article__img">
                <div class="article__info">
                    <i class="article__logo fa-solid fa-truck"></i>                   
                    <p class="article__precios">$230.000</p>
                    <p class="article__descuento"> 20% off</p>
                    <p class="article__producto"> Mackook Pro 2019 </p>   
                </div>
            </article>
            

            <article class="article">
                <img src="/images/img-samsung-galaxy-s10.jpg" class="article__img">
                <div class="article__info">
                    <i class="article__logo fa-solid fa-truck"></i>                 
                    <p class="article__precios"> $75.500</p>
                    <p class="article__descuento"> 10% off</p>
                    <p class="article__producto"> Samsung Galaxy S10</p>  
                </div>
            </article>
            

            <article class="article">
                <img src="/images/img-tv-samsung-smart.jpg" class="article__img">
                <div class="article__info">
                    <i class="article__logo fa-solid fa-truck"></i> 
                    <p class="article__precios"> $23.200</p>
                    <p class="article__descuento"> 5% off</p>
                    <p class="article__producto"> SmartTv Samsung 43 </p>
                </div>          
            </article>

        </section>

    </main>

        <br>

    <footer>
        <section class=" pagos-footer">
            <i class="fa-regular fa-credit-card"></i>
            <p class="pagos__titulo"><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
            <br>

         <section class="envio-footer">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="envio__titulo" > <strong>Envío gratis desde $ 2.500</strong></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

            <br>

        <section class="devolucion-footer">
            <i class="fa-solid fa-shield"></i>
            <p class="devolucion__titulo"><strong>Seguridad, de principio a fin</strong></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
         </section>
            
            <section class="Copyright__footer">
                <p >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
           </section>
    </footer>

</body>
</html>
